body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif, sans-serif;
    background: white;
}

.title {
    padding: 2px;
    text-overflow-ellipsis: overflow;
    overflow: hidden;
    display: block;
}